/* Styling for the carousel section */
.carousel {
    padding: 5rem;
    /* Add padding around the carousel */
    color: white;
    height: auto;
    text-align: center;
    margin: 30px 0;
    /* Add margin above and below the carousel */
}

/* Styling for h1 elements inside the carousel */
.carousel h1 {
    font-size: 3.1vw;
    margin-bottom: 50px;
    /* Add margin below h1 */
    color: rgb(5, 99, 161);
}

/* Styling for boxes */
.boxes {
    background: rgb(244, 243, 246);
    background: linear-gradient(90deg, rgba(244, 243, 246, 1) 0%, rgba(7, 173, 230, 1) 0%, rgba(23, 78, 241, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
    height: auto;
    border-radius: 10px;
}

.boxes:hover {
    cursor: pointer;
}

/* Styling for h3 elements inside .boxes */
.boxes h3 {
    height: 100%;
    line-height: 60px;
    text-align: center;
    padding-left: 10px;
    font-size: 20px;
}

/* Styling for h2 elements inside .boxes */
.boxes h2 {
    font-size: 1.9vw;
}

/* Styling for elements with class .div-text */
.div-text {
    margin: -20px 0 20px 0 !important;
    /* Adjust margin with !important (minimize usage) */
}

/* CSS for User Info Section */

/* Container for user info */
.userInfo {
    display: flex;
    padding: 20px;
}

/* User image style */
.userInfo .userimg {
    font-size: 60px;
    /* Font size for user image */
}

/* Heading style for user info */
.userInfo .h3 {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

/* CSS for Boxes Section */

/* Boxes containing user information */
.boxes p {
    padding: 20px 10px;
}

/* Styling for user rating box */
.boxes .rating {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    /* Font size for the rating */
    color: yellow;
    /* Text color for the rating */
    margin-bottom: 20px;
}

/* Responsive styling for smaller screens (max-width: 320px) */
@media (max-width: 320px) {
    .boxes .rating {
        font-size: 15px;
        /* Adjusted font size for smaller screens */
    }
}


/* Styling for elements with class .Sociallinks */
.Sociallinks {
    justify-content: center;
    align-items: center;
    color: #fff;
    display: flex;
    font-family: "Inter";
    font-size: 1.8vw;
    margin-right: 4vw;
    font-family: "Kaisei Decol", Calibri, serif;
    margin-top: 10px !important;
    /* Adjust margin-top with !important */
    gap: 20px;
}

/* Styling for .fb, .insta, and .wp when hovered inside .Sociallinks */
.Sociallinks .fb:hover,
.insta:hover,
.wp:hover {
    cursor: pointer;
    scale: 1.3;
    /* Add a scale effect on hover */
    transition: 0.7s;
}

/* Styling for elements inside slick sliders */
.slick-slide div {
    margin: 0 7px 0 5px;
}

.slick-prev {
    left: -50px;
    top: 75px;
}

/* Styling for the next button in the slick slider */
.slick-next {
    right: -32px !important;
    /* Adjust position of the next button with !important */
    top: 75px;
}

/* Styling for the next and previous button icons in the slick slider */
.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 25px;
    line-height: 1;
    opacity: .75;
    color: black !important;
    /* Adjust color of the icons with !important */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Styling for the next button icon in the slick slider */
.slick-next:before {
    color: black;
    /* Change the color of the icon */
    content: '→';
    background-color: white;
}

/* Styling for the active dot in the slick slider */
.slick-dots li.slick-active button:before {
    color: blue !important;
    /* Adjust color of active dot with !important */
}

/* Styling for all dot buttons in the slick slider */
.slick-dots li button:before {
    color: white !important;
    /* Adjust color of dot buttons with !important */
    font-size: 0.8rem !important;
    /* Adjust font size with !important */
    top: 2rem !important;
    /* Adjust top position with !important */
}

/* Styling for images inside slick sliders */
.slick-slide img {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 250px;
}

/* Hide the dots in the slick slider */
.slick-dots {
    display: none !important;
    /* Hide the dots with !important */
}

.carousel button {
    display: none !important;
}

/* Media query for screens with a maximum width of 770px */
@media (max-width: 770px) {
    /* Adjust styles for smaller screens */

    .carousel {
        margin: 10px 0;
        /* Adjust margin for smaller screens */
    }

    .carousel h1 {
        font-size: 27px;
        /* Adjust font size for h1 */
    }

    /* Styling for images inside slick sliders */
    .slick-slide img {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        width: 200px;
    }

    .carousel h2 {
        font-size: 24px;
    }

    .carousel .Sociallinks {
        font-size: 25px;
        /* Adjust font size for .Sociallinks */
        gap: 20px;
        /* Adjust gap */
    }

    .slick-dots li button {
        padding: 2px;
        color: red;
        /* Adjust color for dot buttons */
    }
}

/* Media query for screens with a maximum width of 320px */

@media (max-width: 320px) {

    /* Adjust the font size of h1 elements inside the carousel */
    .carousel h1 {
        font-size: 22px;
    }

    /* Adjust the font size of h3 elements inside the userInfo section */
    .userInfo h3 {
        font-size: 13px;
    }
}